.header {
  position: sticky;
  top: 0;
  display: flex;
  background-color: white;
  justify-content: space-evenly;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 0.1px solid lightgray;
  width: 100%;
  z-index: 999;

  .header-left {
    display: flex;
    img {
      object-fit: contain;
      height: 40px;
      margin-right: 10px;
    }
    .header-search {
      display: flex;
      padding: 10px;
      align-items: center;
      border-radius: 5px;
      color: gray;
      background-color: #eef3f8;

      input {
        outline: none;
        border: none;
        background: none;
      }
    }
  }

  .header-right {
    display: flex;
  }
}
