.inputoption {
  display: flex;
  align-items: center;
  margin-top: 15px;
  padding: 10px;
  color: gray;
  cursor: pointer;
  transition: all 0.2s ease-out;

  &:hover {
    background-color: whitesmoke;
    border-radius: 10px;
  }

  h4 {
    margin-left: 5px;
  }
}
